body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  width: 100%;
  text-align: center;
  font-size: large;
  color: #333;
}
header {
}

main {
}

#todo-list {
  margin: 0 auto;
  list-style-type: none;
  width: 40vw;
  padding: 0px;
}
button {
  background-color: lightcoral;
  color: white;
  border: none;
  padding: auto;
  height: 46px;
  width: 60px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  margin: 4px 6px;
  cursor: pointer;
  align-self: center;
}
input {
  margin: 20px 0;
  width: 50%;
  height: 40px;
  padding-left: 10px;
  font-size: medium
}
input::placeholder {
  opacity: 0.5;
}
li {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  border-bottom: lightgray 1px solid;
  padding: 4px 0;
}
span {
  flex: 1;
  text-align: left;
}
